{% extends 'base.html' %}

{% load static %}

{% block title %}Food Tracker | Food Log{% endblock %}

<head>
    <!-- Custom styles -->
    <link href='{% static "css/profile.css" %}' rel='stylesheet'>
</head>

{% block body %}
<!-- <div class='py-4 mt-auto'>
    <div class='container-fluid px-4'>

        <div class='row justify-content-center'>
            <div class='col-xl-12'>
                
                    <div class='row'>
                        <div class='col-md-6 mt-4'>

                            <div class='card bg-secondary mb-3'>
                                <div class='card-header'>
                                    <h4>Hi, <strong>{{ user.username }}</strong>!</h4>
                                </div>
                                <div class='card-body'>

                                    <div class='d-flex w-100 justify-content-between'>
                                        <p class='mb-1'>
                                            Username: <strong>{{ user.username }}</strong>
                                        </p>
                                    </div>

                                    <div class='d-flex w-100 justify-content-between'>
                                        <p class='mb-1'>
                                            Email: <strong>{{ user.email }}</strong>
                                        </p>
                                    </div>

                                    <div class='d-flex w-100 justify-content-between'>
                                        <p class='mb-1'>
                                            Date joined: <strong>{{ user.date_joined }}</strong>
                                        </p>
                                    </div>

                                    <div class='d-flex w-100 justify-content-between'>
                                        <p class='mb-1'>
                                            Last login: <strong>{{ user.last_login }}</strong>
                                        </p>
                                    </div>

                                </div>
                            </div> -->

<!-- <div class='card bg-secondary mb-3'>

                                <div class='card-header'>
                                    <h4>Record Your Weight</h4>
                                </div>
                                <div class='card-body'>

                                <div class='form-group'>
          
                                        <form action="{% url 'weight_log' %}" method='POST'>
                                            {% csrf_token %}
                                            <div class='form-group'>
                                                <div class='row'>
                                                    <div class='col-5'>
                                                        <label for='date_weight' class='form-label mt-2'>
                                                            Date
                                                        </label>
                                                        <input
                                                            class='form-control'
                                                            type='date'
                                                            name='date' 
                                                            id='date'
                                                        >
                                                    </div>
                                                    <div class='col-5'>
                                                        <label for='weight' class='form-label mt-2'>
                                                            Weight in kg
                                                        </label>
                                                        <input 
                                                            class='form-control'
                                                            type='number' 
                                                            name='weight'
                                                            id='weight'
                                                            placeholder='0.00' required name='weight' 
                                                            min='0' 
                                                            value='0' 
                                                            step='1' 
                                                            title='Weight' 
                                                            pattern='^\d*(\.\d{0,2})?$'
                                                        >
                                                    </div>
                                                    <div class='col-2'>
                                                        <button type='submit' class='btn btn-primary' style='margin-top:40px;'>
                                                            Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>

                            <div class='card bg-secondary mb-3'>
                                <div class='card-header'>
                                    <h4>Weight Log</h4>
                                </div>
                                <div class='card-body'>

                                    <table id='weightable' class='table'>
                                        <thead>
                                            <tr>
                                                <th scope='col' class='col-md-4'>Weight in kg</th>
                                                <th scope='col' class='col-md-4'>Date</th>
                                                <th scope='col' class='col-md-4'></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for weight_record in user_weight_log %}
                                                <tr>
                                                    <td class='col-md-4'>{{ weight_record.weight }}</td>
                                                    <td class='col-md-4'>{{ weight_record.entry_date|date:'Y-m-d' }}</td>
                                                    <td class='col-md-4'>
                                                        <a class='btn btn-success' href="#" style='margin-right:2px;'>
                                                        <i class='fas fa-edit'></i>
                                                    </a>
                                                    <a class='btn btn-danger' href="{% url 'weight_log_delete' weight_record.id %}">
                                                        <i class='fas fa-trash-alt'></i>
                                                    </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div> -->
<!-- </div> -->
<!--                             
                        </div>
                        
                        <div class='col-md-6 mt-4'>
                            <div class='card bg-secondary mb-3'>
                                <div class='card-header'>
                                    <h4>Weight History</h4>
                                </div>
                                <div class='card-body justify-content-center'>
                                    <div class='chart-bar'>
                                        <canvas id='myChart'></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> -->

<!-- </div>
        </div>

    </div>
</div>     -->

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
            target="__blank">Profile</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class='card-header'>
                    <h4>Hi, <strong>{{ user.username }}</strong>!</h4>
                </div>
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2"
                        src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username"
                                value="{{ user.username }}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text"
                                    placeholder="Enter your first name" value="">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text"
                                    placeholder="Enter your last name" value="">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                <input class="form-control" id="inputOrgName" type="text"
                                    placeholder="Enter your organization name" value="">
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Province</label>
                                <input class="form-control" id="inputLocation" type="text"
                                    placeholder="Enter your location" value="">
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email"
                                placeholder="Enter your email address" value="{{ user.email }}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <!-- <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel"
                                    placeholder="Enter your phone number">
                            </div> -->
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" type="text" name="birthday"
                                    placeholder="Enter your birthday" value="06/10/1988">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Page level plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/userProfile.js' %}"></script>
{% endblock %}